___

<p style="text-align: center;"><img src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" class="img-fluid" alt="CLRSWY"></p>

___

<h1><p style="text-align: center;">Data Analysis with Python <br>Project - 1</p><h1> - Traffic Police Stops <img src="https://docs.google.com/uc?id=17CPCwi3_VvzcS87TOsh4_U8eExOhL6Ki" class="img-fluid" alt="CLRSWY" width="200" height="100">

Before beginning your analysis, it is critical that you first examine and clean the dataset, to make working with it a more efficient process. You will practice fixing data types, handling missing values, and dropping columns and rows while learning about the Stanford Open Policing Project dataset.

***

## Examining the dataset

You'll be analyzing a dataset of traffic stops in Rhode Island that was collected by the Stanford Open Policing Project.

Before beginning your analysis, it's important that you familiarize yourself with the dataset. You'll read the dataset into pandas, examine the first few rows, and then count the number of missing values.

**INSTRUCTIONS**

*   Import pandas using the alias ``pd``.
*   Read the file police.csv into a DataFrame named ``ri``
*   Examine the first 5 rows of the ``DataFrame`` (known as the ``"head"``).
*   Count the number of missing values in each column: Use ``.isnull()`` to check which ``DataFrame`` elements are missing, and then take the ``.sum()`` to count the number of ``True`` values in each column.

In [1]:
import numpy as np
import pandas as pd


import warnings
warnings.filterwarnings("ignore")

%matplotlib inline
pd.options.display.float_format = '{:.2f}'.format

In [2]:
ri = pd.read_csv("police.csv")
ri.head()

,id,state,stop_date,stop_time,location_raw,county_name,county_fips,fine_grained_location,police_department,driver_gender,...,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
0,RI-2005-00001,RI,2005-01-02,01:55,Zone K1,nan,nan,nan,600,M,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K1
1,RI-2005-00002,RI,2005-01-02,20:30,Zone X4,nan,nan,nan,500,M,...,False,NaN,NaN,False,Citation,False,16-30 Min,False,False,Zone X4
2,RI-2005-00003,RI,2005-01-04,11:30,Zone X1,nan,nan,nan,0,NaN,...,False,NaN,NaN,False,NaN,NaN,NaN,NaN,False,Zone X1
3,RI-2005-00004,RI,2005-01-04,12:55,Zone X4,nan,nan,nan,500,M,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4
4,RI-2005-00005,RI,2005-01-06,01:30,Zone X4,nan,nan,nan,500,M,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4

In [3]:
ri.shape

(509681, 26)

In [4]:
def calculate_null_value(df):
    percent = df.isnull().sum()*100/df.shape[0]
    piece = df.isnull().sum()
    return pd.DataFrame(list(zip(percent, piece)), columns = ["percent(%)","piece"],index=df.columns)

In [5]:
calculate_null_value(ri)

                       percent(%)   piece
id                           0.00       0
state                        0.00       0
stop_date                    0.00      10
stop_time                    0.00      10
location_raw                 0.00       0
county_name                100.00  509681
county_fips                100.00  509681
fine_grained_location      100.00  509681
police_department            0.00      10
driver_gender                5.71   29097
driver_age_raw               5.70   29049
driver_age                   6.02   30695
driver_race_raw              5.70   29073
driver_race                  5.70   29073
violation_raw                5.70   29073
violation                    5.70   29073
search_conducted             0.00      10
search_type_raw             96.52  491919
search_type                 96.52  491919
contraband_found             0.00       0
stop_outcome                 5.70   29073
is_arrested                  5.70   29073
stop_duration                5.70   29073
out_of_state                 5.86   29881
drugs_related_stop           0.00       0
district                     0.00       0

***

## Dropping columns

Often, a DataFrame will contain columns that are not useful to your analysis. Such columns should be dropped from the ``DataFrame``, to make it easier for you to focus on the remaining columns.

You'll drop the ``county_name`` column because it only contains missing values, and you'll drop the ``state`` column because all of the traffic stops took place in one state (Rhode Island). Thus, these columns can be dropped because they contain no useful information.

**INSTRUCTIONS**

*   Examine the ``DataFrame``'s shape to find out the number of rows and columns.

*   Drop the columns that almost consist of missing values. 

*   Examine the ``.shape`` again to verify that there are now two fewer columns.

In [6]:
calculate_null_value(ri)

                       percent(%)   piece
id                           0.00       0
state                        0.00       0
stop_date                    0.00      10
stop_time                    0.00      10
location_raw                 0.00       0
county_name                100.00  509681
county_fips                100.00  509681
fine_grained_location      100.00  509681
police_department            0.00      10
driver_gender                5.71   29097
driver_age_raw               5.70   29049
driver_age                   6.02   30695
driver_race_raw              5.70   29073
driver_race                  5.70   29073
violation_raw                5.70   29073
violation                    5.70   29073
search_conducted             0.00      10
search_type_raw             96.52  491919
search_type                 96.52  491919
contraband_found             0.00       0
stop_outcome                 5.70   29073
is_arrested                  5.70   29073
stop_duration                5.70   29073
out_of_state                 5.86   29881
drugs_related_stop           0.00       0
district                     0.00       0

In [7]:
ri.shape

(509681, 26)

In [8]:
ri.head()

,id,state,stop_date,stop_time,location_raw,county_name,county_fips,fine_grained_location,police_department,driver_gender,...,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
0,RI-2005-00001,RI,2005-01-02,01:55,Zone K1,nan,nan,nan,600,M,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K1
1,RI-2005-00002,RI,2005-01-02,20:30,Zone X4,nan,nan,nan,500,M,...,False,NaN,NaN,False,Citation,False,16-30 Min,False,False,Zone X4
2,RI-2005-00003,RI,2005-01-04,11:30,Zone X1,nan,nan,nan,0,NaN,...,False,NaN,NaN,False,NaN,NaN,NaN,NaN,False,Zone X1
3,RI-2005-00004,RI,2005-01-04,12:55,Zone X4,nan,nan,nan,500,M,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4
4,RI-2005-00005,RI,2005-01-06,01:30,Zone X4,nan,nan,nan,500,M,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4

In [9]:
ri.drop(["county_name", "county_fips", "fine_grained_location"], axis = 1, inplace = True )

In [10]:
ri.shape

(509681, 23)

***

## Dropping rows

When you know that a specific column will be critical to your analysis, and only a small fraction of rows are missing a value in that column, it often makes sense to remove those rows from the dataset.

During this course, the ``driver_gender`` column will be critical to many of your analyses. Because only a small fraction of rows are missing ``driver_gender``, we'll drop those rows from the dataset.

**INSTRUCTIONS**

*   Count the number of missing values in each column.

*   Drop all rows that are missing ``driver_gender`` by passing the column name to the subset parameter of ``.dropna()``.
*   Count the number of missing values in each column again, to verify that none of the remaining rows are missing ``driver_gender``.
*   Examine the ``DataFrame``'s ``.shape`` to see how many rows and columns remain.

In [11]:
calculate_null_value(ri)

                    percent(%)   piece
id                        0.00       0
state                     0.00       0
stop_date                 0.00      10
stop_time                 0.00      10
location_raw              0.00       0
police_department         0.00      10
driver_gender             5.71   29097
driver_age_raw            5.70   29049
driver_age                6.02   30695
driver_race_raw           5.70   29073
driver_race               5.70   29073
violation_raw             5.70   29073
violation                 5.70   29073
search_conducted          0.00      10
search_type_raw          96.52  491919
search_type              96.52  491919
contraband_found          0.00       0
stop_outcome              5.70   29073
is_arrested               5.70   29073
stop_duration             5.70   29073
out_of_state              5.86   29881
drugs_related_stop        0.00       0
district                  0.00       0

In [12]:
ri.shape

(509681, 23)

In [13]:
ri.dropna(subset = ["driver_gender"], inplace = True)

In [14]:
ri.shape

(480584, 23)

In [15]:
calculate_null_value(ri)

                    percent(%)   piece
id                        0.00       0
state                     0.00       0
stop_date                 0.00       0
stop_time                 0.00       0
location_raw              0.00       0
police_department         0.00       0
driver_gender             0.00       0
driver_age_raw            0.00       1
driver_age                0.34    1638
driver_race_raw           0.00       0
driver_race               0.00       0
violation_raw             0.00       0
violation                 0.00       0
search_conducted          0.00       0
search_type_raw          96.30  462822
search_type              96.30  462822
contraband_found          0.00       0
stop_outcome              0.00       0
is_arrested               0.00       0
stop_duration             0.00       0
out_of_state              0.17     808
drugs_related_stop        0.00       0
district                  0.00       0

***

## Fixing a data type

We know that the ``is_arrested`` column currently has the ``object`` data type. In this exercise, we'll change the data type to ``bool``, which is the most suitable type for a column containing ``True`` and ``False`` values.

Fixing the data type will enable us to use mathematical operations on the ``is_arrested`` column that would not be possible otherwise.

**INSTRUCTIONS**

*   Examine the head of the ``is_arrested`` column to verify that it contains ``True`` and ``False`` values.
*   Check the current data type of ``is_arrested``.
*   Use the ``.astype()`` method to convert ``is_arrested`` to a ``bool`` column.
*   Check the new data type of ``is_arrested``, to confirm that it is now a ``bool`` column.

In [16]:
ri.head().T

,0,1,3,4,5
id,RI-2005-00001,RI-2005-00002,RI-2005-00004,RI-2005-00005,RI-2005-00006
state,RI,RI,RI,RI,RI
stop_date,2005-01-02,2005-01-02,2005-01-04,2005-01-06,2005-01-12
stop_time,01:55,20:30,12:55,01:30,08:05
location_raw,Zone K1,Zone X4,Zone X4,Zone X4,Zone X1
police_department,600,500,500,500,0
driver_gender,M,M,M,M,M
driver_age_raw,1985.00,1987.00,1986.00,1978.00,1973.00
driver_age,20.00,18.00,19.00,27.00,32.00
driver_race_raw,W,W,W,B,B
driver_race,White,White,White,Black,Black
violation_raw,Speeding,Speeding,Equipment/Inspection Violation,Equipment/Inspection Violation,Call for Service
violation,Speeding,Speeding,Equipment,Equipment,Other
search_conducted,False,False,False,False,False
search_type_raw,NaN,NaN,NaN,NaN,NaN
search_type,NaN,NaN,NaN,NaN,NaN
contraband_found,False,False,False,False,False
stop_outcome,Citation,Citation,Citation,Citation,Citation
is_arrested,False,False,False,False,False
stop_duration,0-15 Min,16-30 Min,0-15 Min,0-15 Min,30+ Min
out_of_state,False,False,False,False,True
drugs_related_stop,False,False,False,False,False
district,Zone K1,Zone X4,Zone X4,Zone X4,Zone X1

In [17]:
ri.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 480584 entries, 0 to 509670
Data columns (total 23 columns):
id                    480584 non-null object
state                 480584 non-null object
stop_date             480584 non-null object
stop_time             480584 non-null object
location_raw          480584 non-null object
police_department     480584 non-null object
driver_gender         480584 non-null object
driver_age_raw        480583 non-null float64
driver_age            478946 non-null float64
driver_race_raw       480584 non-null object
driver_race           480584 non-null object
violation_raw         480584 non-null object
violation             480584 non-null object
search_conducted      480584 non-null object
search_type_raw       17762 non-null object
search_type           17762 non-null object
contraband_found      480584 non-null bool
stop_outcome          480584 non-null object
is_arrested           480584 non-null object
stop_duration         480584 non-null object
out_of_state          479776 non-null object
drugs_related_stop    480584 non-null bool
district              480584 non-null object
dtypes: bool(2), float64(2), object(19)
memory usage: 81.6+ MB

In [18]:
print(ri.is_arrested.unique())
print(ri.search_conducted.unique())
print(ri.out_of_state.unique())

[False True]
[False True]
[False True nan]

In [19]:
ri["is_arrested"] = ri["is_arrested"].astype("bool")
ri["search_conducted"] = ri["search_conducted"].astype("bool")
ri["out_of_state"] = ri["out_of_state"].astype("bool")

In [20]:
ri.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 480584 entries, 0 to 509670
Data columns (total 23 columns):
id                    480584 non-null object
state                 480584 non-null object
stop_date             480584 non-null object
stop_time             480584 non-null object
location_raw          480584 non-null object
police_department     480584 non-null object
driver_gender         480584 non-null object
driver_age_raw        480583 non-null float64
driver_age            478946 non-null float64
driver_race_raw       480584 non-null object
driver_race           480584 non-null object
violation_raw         480584 non-null object
violation             480584 non-null object
search_conducted      480584 non-null bool
search_type_raw       17762 non-null object
search_type           17762 non-null object
contraband_found      480584 non-null bool
stop_outcome          480584 non-null object
is_arrested           480584 non-null bool
stop_duration         480584 non-null object
out_of_state          480584 non-null bool
drugs_related_stop    480584 non-null bool
district              480584 non-null object
dtypes: bool(5), float64(2), object(16)
memory usage: 72.0+ MB

***

## Combining object columns

Currently, the date and time of each traffic stop are stored in separate object columns: ``stop_date`` and ``stop_time``.

You'll combine these two columns into a single column, and then convert it to ``datetime`` format. This will enable convenient date-based attributes that we'll use later in the course.

**INSTRUCTIONS**

*    Use a string method to concatenate ``stop_date`` and ``stop_time`` (separated by a space), and store the result in ``combined``.
*    Convert ``combined`` to ``datetime`` format, and store the result in a new column named ``stop_datetime``.
*    Examine the ``DataFrame`` ``.dtypes`` to confirm that ``stop_datetime`` is a datetime column.

In [21]:
ri["stop_datetime"] = pd.to_datetime(ri["stop_date"] + " " + ri["stop_time"])

In [22]:
ri["stop_datetime"].dtypes

dtype('<M8[ns]')

In [23]:
ri.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 480584 entries, 0 to 509670
Data columns (total 24 columns):
id                    480584 non-null object
state                 480584 non-null object
stop_date             480584 non-null object
stop_time             480584 non-null object
location_raw          480584 non-null object
police_department     480584 non-null object
driver_gender         480584 non-null object
driver_age_raw        480583 non-null float64
driver_age            478946 non-null float64
driver_race_raw       480584 non-null object
driver_race           480584 non-null object
violation_raw         480584 non-null object
violation             480584 non-null object
search_conducted      480584 non-null bool
search_type_raw       17762 non-null object
search_type           17762 non-null object
contraband_found      480584 non-null bool
stop_outcome          480584 non-null object
is_arrested           480584 non-null bool
stop_duration         480584 non-null object
out_of_state          480584 non-null bool
drugs_related_stop    480584 non-null bool
district              480584 non-null object
stop_datetime         480584 non-null datetime64[ns]
dtypes: bool(5), datetime64[ns](1), float64(2), object(16)
memory usage: 75.6+ MB

The last step that you'll take in this chapter is to set the ``stop_datetime`` column as the ``DataFrame``'s index. By replacing the default index with a ``DatetimeIndex``, you'll make it easier to analyze the dataset by date and time, which will come in handy later in the course.

**INSTRUCTIONS**

*   Set ``stop_datetime`` as the ``DataFrame`` index.
*   Examine the index to verify that it is a ``DatetimeIndex``.
*   Examine the ``DataFrame`` columns to confirm that ``stop_datetime`` is no longer one of the columns.

In [24]:
ri.set_index("stop_datetime", inplace = True)

In [25]:
ri.head()

,id,state,stop_date,stop_time,location_raw,police_department,driver_gender,driver_age_raw,driver_age,driver_race_raw,...,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
stop_datetime,,,,,,,,,,,,,,,,,,,,,
2005-01-02 01:55:00,RI-2005-00001,RI,2005-01-02,01:55,Zone K1,600,M,1985.00,20.00,W,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K1
2005-01-02 20:30:00,RI-2005-00002,RI,2005-01-02,20:30,Zone X4,500,M,1987.00,18.00,W,...,False,NaN,NaN,False,Citation,False,16-30 Min,False,False,Zone X4
2005-01-04 12:55:00,RI-2005-00004,RI,2005-01-04,12:55,Zone X4,500,M,1986.00,19.00,W,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4
2005-01-06 01:30:00,RI-2005-00005,RI,2005-01-06,01:30,Zone X4,500,M,1978.00,27.00,B,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4
2005-01-12 08:05:00,RI-2005-00006,RI,2005-01-12,08:05,Zone X1,0,M,1973.00,32.00,B,...,False,NaN,NaN,False,Citation,False,30+ Min,True,False,Zone X1

In [26]:
ri.to_csv("ri2.csv")